.scrollable {
  height: 12em;
  border: 2px solid black;
}
.keyboard-open .scroll-content {
  margin-bottom: 0px !important;
}
.keyboard-open .has-footer {
  bottom: 0;
}

body.hide-on-keyboard-open .scroll-content {
  margin-bottom: 0px !important;
}

body.hide-on-keyboard-open .footer {
  display: none;
}